.container {
  width: 30%;
  height: 50%;
  font-family: "Montserrat", sans-serif;
  padding: 15px 20px;

  color: black;
  margin: 5% auto; /* Center the container */
}

.successMessage {
  text-align: center; /* Center the text */
  font-size: 160%;
  padding-top: 2%;
  color: #000000; /* Use the same color as the requestButton */
}
.thankYouMessage {
  text-align: center;
  font-size: 120%;
  margin-top: 3%;
  color: #000000;
}
.returnButton {
  background-color: #f25e05;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10%;
  width: 100%;
  box-shadow:
    0px 3px 6px rgba(0, 0, 0, 0.16),
    0px 3px 6px rgba(0, 0, 0, 0.23);
  font-weight: 500;
  text-align: center; /* Center the text */
}

.returnButton:hover {
  background-color: #484d58;
}

@media (max-width: 860px) {
  .container {
    width: 90%;
  }

  .successMessage {
    font-size: 170%;
  }

  .returnButton {
    font-size: 100%;
  }
}
