.container {
  max-width: 30%;
  height: 100vh;
  margin: 120px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.loginPage {
  height: 100vh;
}
.largeLogo {
  max-width: 30%;
  margin-bottom: 80px;
}

/* @media (max-width: 860px) {
  .largeLogo {
    display: none;
  }
} */

/*Lgin container*/
/* .container {
  width: 30%;
} */

/*Login button*/
.loginButton {
  background-color: #f25e05;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 15px;
  width: 120px;
  box-shadow:
    0px 3px 6px rgba(0, 0, 0, 0.16),
    0px 3px 6px rgba(0, 0, 0, 0.23);
  font-weight: 500;
  text-align: center; /* Center the text */
  text-decoration: none;
  margin-top: 20px;
}

.linkDecoration {
  text-decoration: none;
  color: inherit;
}

.loginButton:hover {
  background-color: #484d58;
}

/*login form */

.form {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: #b2b2b2;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  height: 40%;
}

.form label {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: black;
  margin-top: 10px;
}

.form input {
  margin-top: 10px;
  padding: 10px;
}

.header {
  text-align: left;
  font-size: 180%;
  padding-top: 2%;
}

@media (max-width: 860px) {
  .container {
    width: 90%;
  }
}
