.container {
  max-width: 1440px;
  margin: 120px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.largeLogo {
  max-width: 40%;
}
.contactPage {
  height: 100vh;
}

@media (max-width: 860px) {
  .largeLogo {
    display: none;
  }
}
