.container {
  width: 30%;
}
.contactForm {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  background-color: #ffffff;
  padding: 15px 30px;
  border-radius: 5px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  width: 100%;
  color: black;
}
.contactForm input[type="text"],
.contactForm input[type="search"] {
  background-color: #ffffff; /* Replace #yourColor with the color you want */
  color: black;
  padding: 4% 2%;
  width: 100%;
  border-radius: 5px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  font-size: 100%;
  margin-top: 2%;
}

.subtitle {
  text-align: left;
  font-size: 180%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.formSection {
  font-size: 100%;
  margin-bottom: 3%;
}

.placeholder::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black;
  font-size: 85%;
}
.placeholder::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
}
.placeholder:-ms-input-placeholder {
  /* IE 10+ */
  color: black;
}
.placeholder:-moz-placeholder {
  /* Firefox 18- */
  color: black;
}

.error {
  color: red;
}

.label {
  padding-bottom: 10px;
}

.optionList {
  background-color: #ffffff; /* Replace #yourColor with the color you want */
  color: black;
  padding: 2%;
  width: 100%;
}

.formSection select {
  width: 100%; /* Full width */
  padding: 10px; /* Some padding */
  margin: 5px 0; /* Some margin */
  border-radius: 4px; /* Rounded corners */
  border: 1px solid #ccc; /* Gray border */
  appearance: none; /* Remove default appearance */
  background-color: #ffffff; /* Light gray background */
  border-radius: 5px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  padding: 4% 2%;
}

.formSection input[type="date"] {
  width: 100% !important;
  padding: 10px !important;
  margin: 5px 0 !important;
  border-radius: 0px !important;
  border: 1px solid #ccc !important;
  background-color: #ffffff !important;
  border-radius: 5px !important;
  border-style: solid !important;
  border-color: #cccccc !important;
  border-width: 1px !important;
  padding: 4% 2% !important;
}

.formSection input[type="time"] {
  width: 100% !important;
  padding: 10px !important;
  margin: 5px 0 !important;
  border-radius: 0px !important;
  border: 1px solid #ccc !important;
  background-color: #ffffff !important;
  border-radius: 5px !important;
  border-style: solid !important;
  border-color: #cccccc !important;
  border-width: 1px !important;
  padding: 4% 2% !important;
}

.requestButton {
  background-color: #f25e05;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 120%;
  margin-top: 20px;
  width: 100%;
  box-shadow:
    0px 3px 6px rgba(0, 0, 0, 0.16),
    0px 3px 6px rgba(0, 0, 0, 0.23);
  font-weight: 500;
}

.requestButton:hover {
  background-color: #484d58;
}

@media (max-width: 860px) {
  .container {
    width: 90%;
    margin: auto;
  }
  .contactForm {
    width: 90%;
    padding: 10px 20px; /* Adjust padding for smaller screens */
  }
  .formSection input[type="date"] {
    width: 100% !important;
    padding: 10px !important;
    margin: 5px 0 !important;
    border-radius: 0px !important;
    border: 1px solid #ccc !important;
    background-color: #ffffff !important;
    border-radius: 5px !important;
    border-style: solid !important;
    border-color: #cccccc !important;
    border-width: 1px !important;
    padding: 4% 2% !important;
  }

  .formSection input[type="time"] {
    width: 100% !important;
    padding: 10px !important;
    margin: 5px 0 !important;
    border-radius: 0px !important;
    border: 1px solid #ccc !important;
    background-color: #ffffff !important;
    border-radius: 5px !important;
    border-style: solid !important;
    border-color: #cccccc !important;
    border-width: 1px !important;
    padding: 4% 2% !important;
  }
  .subtitle {
    font-size: 170%;
  }
  .formSection {
    margin-bottom: 10px;
    font-size: 100%;
  }

  .requestButton {
    font-size: 100%;
    padding: 8px 16px; /* Adjust button size for smaller screens */
  }
}
