.container {
  max-width: 1440px;
  height: 100vh;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
}

.largeLogo {
  max-width: 30%;
  margin: 5%;
}

@media (max-width: 860px) {
  .largeLogo {
    display: none;
  }
}
