/*The size of the main is full screen and is display for the logo placement*/
.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h1 {
  margin: 5%;
  margin-top: 10%;
  font-family: "Montserrat", sans-serif;
  font-size: 200%;
  font-weight: 500;
  text-align: center;
}

/*The large logo is centered and starts off this size*/
.largeLogo {
  max-width: 30%;
  margin-bottom: 80px;
}

/*The large logo increases in size when the screen size increases*/
/*not needed*/
/* @media (min-width: 1024px) {
  .largeLogo {
    height: 400px;
    width: 400px;
  }
} */
/* 
@media (min-width: 1440px) {
  .largeLogo {
    height: 450px;
    width: 450px;
  }
}

@media (min-width: 2560px) {
  .largeLogo {
    height: 700px;
    width: 700px;
  }
} */

/*Login button*/
.loginButton {
  background-color: #f25e05;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  width: 150px;
  box-shadow:
    0px 3px 6px rgba(0, 0, 0, 0.16),
    0px 3px 6px rgba(0, 0, 0, 0.23);
  font-weight: 500;
  text-align: center; /* Center the text */
}

.linkDecoration {
  text-decoration: none;
  color: inherit;
}

.loginButton:hover {
  background-color: #484d58;
}

/* Login button
.loginButton {
  background-color: #f25e05;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  width: 150px;
  box-shadow:
    0px 3px 6px rgba(0, 0, 0, 0.16),
    0px 3px 6px rgba(0, 0, 0, 0.23);
  font-weight: 500;
  text-align: center; 
}

.linkDecoration {
  text-decoration: none;
  color: inherit;
}

.loginButton:hover {
  background-color: #484d58;
} */
