/*The size of the main is full screen and is display for the logo placement*/
.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*The large logo is centered and starts off this size*/
.largeLogo {
  height: 300px;
  width: 300px;
  margin-bottom: 40px;
}

/*The large logo increases in size when the screen size increases*/
@media (min-width: 1024px) {
  .largeLogo {
    height: 400px;
    width: 400px;
  }
}

@media (min-width: 1440px) {
  .largeLogo {
    height: 450px;
    width: 450px;
  }
}

@media (min-width: 2560px) {
  .largeLogo {
    height: 700px;
    width: 700px;
  }
}
