@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.footerMenu {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #dfe1e2;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.103);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  color: #161617;
}

.footerIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1%;
}

.socialIcon {
  height: 30px;
  width: 30px;
}

.socialIconY {
  height: 40px;
  width: 40px;
}

.copyright {
  text-align: center;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 150%;
}

.legalStuff {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  font-size: 140%;
}

.nothing {
  font-weight: lighter;
}

/* Media query for devices with max-width of 650px */
@media screen and (max-width: 650px) {
  .footerMenu {
    position: static;
  }
  .footerIcons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2.5%;
  }
  .copyright {
    font-size: 70%;
  }
  .legalStuff {
    font-size: 70%;
  }
}