@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.footerMenu {
  position: relative; /* Changed from fixed to relative */
  background-color: #dfe1e2;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.103); /* Added shadow */
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  color: #161617;
}

.footerIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding-top: 1%;
}

.socialIcon {
  height: 30px;
  width: 30px;
}

.socialIconY {
  height: 40px;
  width: 40px;
}

.copyright {
  text-align: center;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 150%;
}

.legalStuff {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nothing {
  font-weight: lighter;
}

@media (max-width: 450px) {
  .footerMenu {
    width: 100%;
  }
  .copyright {
    font-size: 70%;
  }
  .legalStuff {
    font-size: 70%;
  }
}
