@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.footerMenu {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #dfe1e2;
  margin-top: 100px;
  width: 100%;
  z-index: 1;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  color: #161617;
}
.footerIcons {
  display: flex;
  justify-content: space-evenly;
  border-bottom-style: solid;
  align-items: center;
}

.socialIcon {
  height: 30px;
  width: 30px;
}

.socialIconY {
  height: 40px;
  width: 40px;
}

.copyright {
  border-bottom-style: solid;
  text-align: center;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.legalStuff {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nothing {
  font-weight: lighter;
}

@media (max-width: 450px) {
  .copyright {
    font-size: 70%;
  }
  .legalStuff {
    font-size: 70%;
  }
}
