:root {
    --fc-today-bg-color: #EDEDED;  /* changed the highlight colour for today from yellow to grey */
}

/* primary colours */

$primary: #E1682D;
$secondary: #e2794c;
$dark: #484D58;
$light: #fff;
$success: green;
$info: #EDEDED;
$warning: #e49b1f;
$danger: #f44336;

/* custom styles */

/* styling for today only */
.btn.fc-today-button {
    padding-left: 2rem!important; 
    padding-right: 2rem!important;
  }

  .btn.fc-today-button:hover {
    /* Lighter background color when active */
    background-color: $secondary!important; 
}

/* darker background color on click */
.btn.fc-today-button:active {
    /* Lighter background color when active */
    background-color: $dark!important; 
}

/* styling for prev, next only */
.btn-group >.btn.fc-prev-button,.btn-group >.btn.fc-next-button {
    padding-left: 1rem!important; 
    padding-right: 1rem!important; 
}


/* Lighter background color on hover */
.btn-group >.btn.fc-prev-button:hover,
.btn-group >.btn.fc-next-button:hover {
    background-color: $secondary!important; /* Slightly darker shade for contrast */
}

/* darker background color on click */
.btn-group >.btn.fc-prev-button:active,
.btn-group >.btn.fc-next-button:active {
    background-color: $dark!important; /* Slightly darker shade for contrast */
}

  /* styling for today and prev, next */
  .btn-primary {
    background-color: $primary!important;
    border-color: $primary!important;
    color: $light!important; 
    border-style: none!important;
    border-radius: 200px!important;
    padding-top: 0.25rem!important;
    padding-bottom: 0.25rem!important;
    margin: 1px!important;
    font-weight: lighter!important;
  }

/* makes the first letter on the button text uppercase */
.btn-primary::first-letter {
    text-transform: uppercase;
} 

/* colour for events */
.fc-daygrid-event {
    background-color: $dark!important;
    border-color: $dark!important;
    color: $light!important;
}
.fc-daygrid-event:hover {
/* Lighter background color when active */
background-color: $primary!important; 
    cursor: pointer;
}
    



// IMPORTANT! this must stay at the end of the file! */
// Import Bootstrap functions and variables
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

