.container {
  width: 30%;
}

.loginContainer {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-width: 1px;
  color: black;
  width: 100%;
}

.loginButton {
  margin-top: 10px !important;
  background-color: #e1682d !important;
  color: white;
  border-radius: 200px !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 18px !important;
}

.loginButton:hover {
  background-color: #484d58;
}

.forgotPassword {
  margin-top: 10px !important;
  text-align: right !important;
  color: #484d58 !important;
  font-size: 14px !important;
}

.privacyPolicy {
  margin-top: 10px !important;
  text-align: right !important;
  color: #484d58 !important;
  font-size: 14px !important;
}

.form {
  display: flex;
  flex-direction: column;
  color: #484d58;
}

.form label {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: black;
}

.form input {
  margin-top: 10px;
  padding: 10px;
}

.header {
  text-align: left;
  font-size: 180%;
  padding-top: 2%;
}

@media (max-width: 860px) {
  .container {
    width: 90%;
  }
}
