/* Base styles for mobile devices */
.aboutPage {
  margin: 90px 10px;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
  gap: 1rem;
}

/* Style each component as a grid item */
.about,
.mission,
.philosophy,
.video,
.leagues,
.timetable,
.team,
.support {
  width: 100%;
  color: white;
}

/*Text aligning all elements*/
.about,
.philosophy,
.timetable,
.support {
  text-align: center;
  background-color: #e1682d;
  border-radius: 10px;
  box-shadow:
    0px 2px 6px rgba(0, 0, 0, 0.2),
    0px 2px 4px rgba(0, 0, 0, 0.3);
}

.mission,
.leagues,
.team {
  text-align: center;
  background-color: #969595;
  border-radius: 10px;
  box-shadow:
    0px 2px 6px rgba(0, 0, 0, 0.2),
    0px 2px 4px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 2rem;
  margin-top: 15px;
}

.text {
  margin-bottom: 20px;
  padding: 15px;
}

.singleWord {
  font-weight: bold;
  font-style: italic;
}

.horizontalCarousel,
.verticalCarousel {
  color: black;
}

.video {
  border: none;
}

.teamPhoto,
.video {
  border-radius: 10px;
  box-shadow:
    0px 2px 6px rgba(0, 0, 0, 0.2),
    0px 2px 4px rgba(0, 0, 0, 0.3);
}

.teamPhoto {
  width: 100%;
  height: auto;
}

.timeTableSubtitle {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  color: #000000;
}

.groups {
  font-weight: 800;
}

.lastTime {
  margin-bottom: 25px;
}

.time {
  margin-bottom: 15px;
}

.supportTextContainer {
  margin-bottom: 15px;
  padding: 15px;
}

.supportText2 {
  margin-top: 15px;
}

.supportText1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.supportText,
.supportText2 {
  font-weight: bold;
  font-size: 1.2rem;
}

.logos {
  height: 60px;
  width: 60px;
}

.socialMediaContainer {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .aboutPage {
    margin: 90px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 20px; /* Gap between grid items */
  }
  /* Layout for specific sections */
  .about {
    grid-column: 1 / 2; /* Start in the first column */
    grid-row: 1 / 3; /* Span two rows */
  }

  .mission {
    grid-column: 1 / 2; /* Start in the first column */
    grid-row: 3 / 5; /* Span two rows below the "about" section */
  }

  .teamPhoto {
    grid-column: 3 / 4;
    grid-row: 8 / 9;
  }

  .philosophy {
    grid-column: 2 / 4; /* Span three columns */
    grid-row: 4 / 5; /* Span one row */
  }

  .leagues {
    grid-column: 1 / 3;
    grid-row: 8 / 9;
  }

  .video {
    grid-column: 2 / 4; /* Span two columns starting from the second column */
    grid-row: 5 / 7; /* Span two rows */
    height: 100%;
  }

  .timetable {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
    background-color: #969595;
  }

  .support {
    grid-column: 3 / 4;
    grid-row: 7 / 8;
  }

  .horizontalCarousel {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
  }

  .team {
    grid-column: 1 / 2;
    grid-row: 5 / 7;
    background-color: #e1682d;
  }

  .verticalCarousel {
    grid-column: 1 / 2;
    grid-row: 7 / 9;
  }
}
