.container {
  max-width: 1440px;
  margin: 120px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.largeLogo {
  max-width: 35%;
}

@media (max-width: 860px) {
  .container {
    margin: 120px 0;
  }

  .largeLogo {
    display: none;
  }
}
